.movie-item {
  --title-bg-color: transparent;
  --poster-bg-color: rgba(0, 0, 0, .05);

  &.--dark {
    --title-bg-color: rgba(255, 255, 255, 0.08);
    --poster-bg-color: rgba(255, 255, 255, 0.08);
  }

  .poster {
    width: 100%;
    height: 0;
    display: block;
    padding-bottom: 148.33%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: .25rem;
    background-color: var(--poster-bg-color);
    position: relative;
  }

  .fav-btn {
    position: absolute;
    top: -1rem;
    right: -1rem;
  }

  &__title {
    padding: .5rem;
    border-radius: .25rem;
    background-color: var(--title-bg-color);      
  }

  p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin: 0;
  }
}